html {
  font-size: 20px;
}

body {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

a {
  text-decoration: none;
}

input[disabled],
button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

/* Bootstrap */
.input-group-text {
  justify-content: center;
}

/* parsleyjs */
.parsley-errors-list {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.parsley-errors-list > li {
  font-size: 0.75rem;
  color: #c44;
}

/* 콘텐츠 영역 크기가 작은 경우 */
.mini-content {
  width: 22rem;
  margin: 0 auto;
}
